vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Sep 2009 08:55:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|PENTIUM-PRO\\User
vti_modifiedby:SR|PENTIUM-PRO\\User
vti_timecreated:TR|25 Sep 2009 08:55:22 -0000
vti_cacheddtm:TX|25 Sep 2009 08:55:22 -0000
vti_filesize:IR|1772
vti_cachedlinkinfo:VX|S|ico-loading.gif S|prev.png S|next.png S|sprite.png S|sprite.png S|sprite.png S|sprite.png S|sprite.png
vti_cachedsvcrellinks:VX|FSUS|assets/scripts/lightgallery/skins/snow/ico-loading.gif FSUS|assets/scripts/lightgallery/skins/snow/prev.png FSUS|assets/scripts/lightgallery/skins/snow/next.png FSUS|assets/scripts/lightgallery/skins/snow/sprite.png FSUS|assets/scripts/lightgallery/skins/snow/sprite.png FSUS|assets/scripts/lightgallery/skins/snow/sprite.png FSUS|assets/scripts/lightgallery/skins/snow/sprite.png FSUS|assets/scripts/lightgallery/skins/snow/sprite.png
vti_backlinkinfo:VX|
